version: 2.1

orbs:
  node: circleci/node@4.7.0
  
jobs:
  build:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - run:
          name: The First Step
          command: |
            npm run test
            echo 'This is testing'
      - run:
          name: The Second Step
          command: |
            npm run build
            echo 'This is building'
      - persist_to_workspace:
            root: ~/covidtrackingapp
            paths: ./

