.navbar-items {
    background: transparent;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    position: absolute;
    width: 100%;
}

.navbar-items-dashboard {
    background: #fff;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 1rem;
    position: relative;
    padding-right: 5%;
    width: 100%;
}

.navbar-logo {
    color: rgba(1, 5, 96, 1);
    justify-self: start;
    margin-left: 20px;
}

.fa-virus {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 2px;
    list-style: none;
    text-align: right;
    justify-content: end;
    width: 50vw;
}

.nav-links {
    color: rgba(1, 5, 96, 1);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: rgb(196, 198, 240);
    border-radius: 4ptx;
    transition: all .2s ease-out;
}

.fa-bars {
    color: rgba(1, 5, 96, 1);
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

.topRight {
    display: flex;
    align-items: right;
    width: 160px;
}

.topbarIconContainer {
    margin-top: 15px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #4F4F4F;
    width: 75px;
}

.alert-dropdown-content {
    display: none;
    position: center;
    background-color: white;
    min-width: 160px;
    z-index: inherit;
}

.alert-dropdown-content a {
    float: none;
    color: #4F4F4F;
    padding: 20px;
    display: block;
    text-align: left;
}

.topbarIconContainer:hover .alert-dropdown-content {
    display: inline-block;
}

.topIconBadge {
    width: 1em;
    height: 1em;
    position: absolute;
    top: -5%;
    right: 33%;
    background-color: #86C4E7;
    color: white;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 10px;
}

.selectLang {
    width: 2em;
    height: 1.5em;
    position: relative;
    top: -25%;
    right: -1.2rem;
    background-color: #4F4F4F;
    color: white;
    text-align: center;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 400;
    font-style: bold;
}

.topAvi {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width:1065px) {
    .navbar-items-dashboard {
        position: relative;
        padding-right: 0;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        height: 425px;
        width: 100%;
        position: absolute;
        top: 60px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links {
        color: rgba(1, 5, 96, 1);
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        background: #fff;
    }
    .nav-links:hover {
        background-color: rgb(196, 198, 240);
        border-radius: 0;
    }
    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate (25%, 50%);
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate (-100%, 60%);
        cursor: pointer;
        font-size: 1.8rem;
    }
    .fa-times {
        color: rgba(1, 5, 96, 1);
        font-size: 2rem;
    }
    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        width: 100%;
        background: rgba(1, 5, 96, 1);
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }
    .nav-links-mobile:hover {
        background: rgb(196, 198, 240);
        transition: 250ms;
        color: rgba(1, 5, 96, 1);
    }
    Button {
        display: none;
    }
    .topRight {
        margin-right: 5%;
    }
}