.navbar-items {
    background: transparent;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.navbar-logo {
    color: rgba(1, 5, 96, 1);
    justify-self: start;
    margin-left: 20px;
}

.fa-virus {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10ptx;
    list-style: none;
    text-align: center;
    justify-content: end;
    width: 60vw;
    margin-right: 2rem;
}

.nav-links {
    color: rgba(1, 5, 96, 1);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: rgba(1, 6, 96, 0.109);
    border-radius: 4ptx;
    transition: all .2s ease-out;
}

.fa-bars {
    color: rgba(1, 5, 96, 1);
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width:960px) {
    .navbar-items {
        position: relative;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        background: rgba(1, 5, 96, 1);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover {
        background-color: rgba(1, 6, 96, 0.109);
        border-radius: 0;
    }
    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate (25%, 50%);
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate (-100%, 60%);
        cursor: pointer;
        font-size: 1.8rem;
    }
    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: transparent;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }
    .nav-links-mobile:hover {
        background: white;
        transition: 250ms;
        color: #6568F4;
    }
    Button {
        display: none;
    }
}