/* Chart box on the dashbard. The piechart should go next to it, ideally 
on the same level*/

.chart {
    margin: 25px;
    padding: 25px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }

  .chartTitle {
    font-size: 25px;
       color: #4F4F4F;

    margin-bottom: 20px;
  }

  /* Will make little checkboxes, so that user can deck types of Cases they want
  to see, and something to toggle the dates...*/

  .checkboxCases{
       position: relative;
       cursor: pointer;
       margin-right: 10px;
       color: #4F4F4F;
     display: flex;
          align-items: center;
     }


     /* Space for the subtitle (in this case its called New Cases
     Its like a placeholder essentialy*/

.toppart {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /**/
