.PatientResultList {
    position: absolute;
    background-color: white;
    width: 300%;
    border-color: transparent;
    border-style: none;
    border-top-color: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
}

.PatientResultList > div {
    padding-top: 15px;
    padding-bottom: 1px;
}

.PatientResultList > div:hover{
    background: rgba(211, 211, 211, 0.3);
}

.PatientResultList > div > p {
    padding-left: 40px;
    cursor: pointer;
}

.PatientResultList > div > p > a {
    text-decoration: none;
    color: inherit;
}
